extends lay 
block cont
        h1 Admin site
        p 
            a(href="http://localhost:3000/admin/users") Manage Users
            br
            a(href="http://localhost:3000/admin/posts") Manage Posts